<div class="container-fluid bg01">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="form-signin-heading">
                    <img class="profilePicture" src="/images/profile01.png" alt="{{session.user.email}}">
                    {{session.user.email}}
                </h2>
            </div>
            <div class="col-1 offset-6" style="display:none;">
                <h2 class="form-signin-heading">
                    <button class="btn btn-primary">-</button>
                </h2>
            </div>
        </div>
    </div>
</div>