<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include '../_header.html'}}
    <style>
        .bg01 {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            background-color: #202b3f;
        }

        .p0 {
            padding: 0px;
        }

        .profilePicture {
            width: 60px;
            border-radius: 50%;
        }

        .form-p1 {
            padding: 5px;
            margin: 5px;
        }
    </style>
</head>

<body>
    {{include '../_menu.html'}}

    <div id="app" class="container-fluid main-content p0">
        {{include './_user_info.html'}}



        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{include './_menu.html'}}
                </div>
                <div class="col-md-9 col-sm-12">
                    <h4>修改登录密码</h4>

                    <div class="form-p1">
                        <label for="password1" class="sr-only">Password</label>
                        <input type="password" id="password1" class="form-control" placeholder="新密码" autofocus>
                    </div>
                    <div class="form-p1">
                        <label for="password2" class="sr-only">Confirm Password</label>
                        <input @keyup.enter="onClickSubmit()" type="password" id="password2" class="form-control" placeholder="再输入一次新密码" autocomplete="off">
                    </div>
                    <div class="form-p1">
                        <button @click="onClickSubmit()" id="submit_btn" class="btn btn-lg btn-primary btn-block" type="button">确认修改</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    {{include '../_footer.html'}}



    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                temp: null,
                alertObj: JSON.parse('{{lang.list[defLang].page.login.alert}}'.replace(/&#34;/g, '"')),
            },
            methods: {
                onClickSubmit() {
                    $('#submit_btn').attr('disabled', true)
                    let from = {
                        password1: $('#password1').val(),
                        password2: $('#password2').val(),
                    }
                    if (from.password1.length < 5) {
                        this.alert(this.alertObj.err)
                        $('#submit_btn').attr('disabled', false)
                        return
                    }
                    if (from.password1 != from.password2) {
                        this.alert(this.alertObj.err)
                        $('#submit_btn').attr('disabled', false)
                        return
                    }
                    from.password1 = md5(from.password1)
                    from.password2 = md5(from.password2)

                    $.post("/me/change-password", from, (data) => {
                        $('#submit_btn').attr('disabled', false)
                        if (data.flag != 'ok') {
                            this.alert(data.flag)
                            return
                        }
                        alert('密码修改成功，请重新登录！')

                        this.get('/logout', {}, (data) => {
                            document.location = '/login'
                        })

                    }, 'json')

                    clearTimeout(this.temp)
                    this.temp = setTimeout(() => {
                        $('#submit_btn').attr('disabled', false)
                    }, 10000)
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },

                init() {
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>


</body>

</html>