<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include '../_header.html'}}
    <style>
        .bg01 {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            background-color: #202b3f;
        }

        .p0 {
            padding: 0px;
        }

        .profilePicture {
            width: 60px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    {{include '../_menu.html'}}

    <div id="app" class="container-fluid main-content p0">
        {{include './_user_info.html'}}



        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{include './_menu.html'}}
                </div>
                <div class="col-md-9 col-sm-12">
                    <h4>{{lang.list[defLang].page.login_log}}</h4>

                    <div class="table-responsive">
                        <table class="table shadow p-3 mb-5 bg-white rounded">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col-4 textOver">ID</th>
                                    <th scope="col-4 textOver">IP</th>
                                    <th scope="col-4 textOver">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{each loginLog}}
                                <tr style="color: #333;">
                                    <td class="col-4 textOver">{{$value.id}}</td>
                                    <td class="col-4 textOver">{{$value.ip}}</td>
                                    <td class="col-4 textOver">
                                        <script>document.write(moment('{{@ $value.time}}').format('lll'))</script>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

    {{include '../_footer.html'}}
</body>

</html>