<!--Begin core plugin -->
<script src="/admin-assets/js/jquery.min.js"></script>
<script src="/admin-assets/js/bootstrap.min.js"></script>
<script src="/admin-assets/plugins/moment/moment.js"></script>
<script src="/admin-assets/js/jquery.slimscroll.js "></script>
<script src="/admin-assets/js/jquery.nicescroll.js"></script>
<script src="/admin-assets/js/functions.js"></script>

<script src="/admin-assets/plugins/sweetalert/sweet-alert.js"></script>
<script src="/admin-assets/pages/jquery.sweet-alert.custom.js"></script>


<link href="/default/js/pagination2.1.5/pagination.css" rel="stylesheet">
<script src="/default/js/pagination2.1.5/pagination.min.js"></script>
<!-- End core plugin -->