<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
    <!-- md5 -->
    <script src="/default/js/md5.js"></script>
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">添加用户</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">网站首页</a>
                    </li>
                    <li class="active">
                        添加用户
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">修改密码</h2>
                        <!-- <form class="js-validation-bootstrap form-horizontal" action="/admin/user-add" method="post" novalidate="novalidate"> -->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="password1">密码 <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input v-model="form.password1" class="form-control" type="password" id="password1" name="password1" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="password2">确认密码 <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input v-model="form.password2" class="form-control" type="password" id="password2" name="password2" placeholder="确认密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-2">
                                <button @click="onClickSubmit()" class="btn btn-primary" type="button">Submit</button>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
            <!--End row-->


        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}


    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                form: {
                    password1: '',
                    password2: '',
                }
            },
            methods: {
                onClickSubmit() {
                    if (this.form.password1.length <= 0 || this.form.password2.length <= 0) {
                        alert('请认真填写表单！')
                        return
                    }
                    if (this.form.password1 != this.form.password2) {
                        alert('两次输入的密码不一样！')
                        return
                    }
                    this.form.password1 = md5(this.form.password1)
                    this.form.password2 = md5(this.form.password2)
                    this.post('/admin/change-password', this.form, (data) => {
                        if (data.flag != 'ok') {
                            alert(data.flag)
                            return
                        }
                        alert('修改成功！')
                    })
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },

                init() {
                    // 
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>