<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
    <style>
        .analytics-stats>label>span {
            margin-left: 4px;
            margin-right: 10px;
            font-size: 12px;
        }
    </style>
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">网站概况</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>

                    <li class="active">
                        网站概况
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="analytics-box white-box">
                                <h3>注册人数</h3>
                                <div class="analytics-info">
                                    <div class="analytics-stats">
                                        {[result.userCount]} 人
                                    </div>
                                    <span id="sparklinestats1"></span>
                                </div>
                            </div>
                        </div> <!-- /analytics-box-->


                        <div class="col-md-3">
                            <div class="analytics-box white-box">
                                <h3>充值额</h3>
                                <div class="analytics-info">
                                    <div class="analytics-stats">
                                        <label class="text-danger">{[result.coinCount.usdt_trc20]} <span>USDT-TRC20</span></label>
                                        <label class="text-danger">{[result.coinCount.usdt_erc20]} <span>USDT-ERC20</span></label>
                                        <label class="text-primary">{[result.coinCount.eth]} <span>ETH</span></label>
                                        <label class="text-info">{[result.coinCount.btc]} <span>BTC</span></label>
                                    </div>
                                    <span id="sparklinestats2"></span>
                                </div>
                            </div>
                        </div> <!-- /analytics-box-->


                        <div class="col-md-3">
                            <div class="analytics-box white-box">
                                <h3>钱包地址数(已用/总共)</h3>
                                <div class="analytics-info">
                                    <div class="analytics-stats">
                                        <label class="text-danger">{[result.walletAddressCount.USDT_TRC20.used]} / {[result.walletAddressCount.USDT_TRC20.total]} <span>USDT-TRC20</span></label>
                                        <label class="text-danger">{[result.walletAddressCount.USDT_ERC20.used]} / {[result.walletAddressCount.USDT_ERC20.total]} <span>USDT-ERC20</span></label>
                                        <label class="text-primary">{[result.walletAddressCount.ETH.used]} / {[result.walletAddressCount.ETH.total]} <span>ETH</span></label>
                                        <label class="text-info">{[result.walletAddressCount.BTC.used]} / {[result.walletAddressCount.BTC.total]} <span>BTC</span></label>
                                    </div>
                                    <span id="sparklinestats3"></span>
                                </div>
                            </div>
                        </div> <!-- /analytics-box-->


                        <div class="col-md-3">
                            <div class="analytics-box white-box">
                                <h3>网站浏览量</h3>
                                <div class="analytics-info">
                                    <div class="analytics-stats">
                                        {[result.pageViewCount]}/次 (页/次)
                                    </div>
                                    <span id="sparklinestats4"></span>
                                </div>
                            </div>
                        </div> <!-- /analytics-box-->

                    </div>
                </div>
            </div>
            <!--End row-->


            <!--Start row-->
            <div class="row">
                <!-- Start Feeds-->
                <div class="col-md-6">
                    <div class="white-box feeds">
                        <h2 class="header-title">Feeds</h2>

                        <div class="feeds-box">
                            <div class="feeds-icon  bg-primary"> <i class="fa fa-edit"></i> </div>
                            <div class="feeds-info">
                                <h5>You have 4 pending tasks. </h5>
                                <span>Just Now</span>
                            </div>
                        </div><!-- /feed-box-->

                        <div class="feeds-box">
                            <div class="feeds-icon bg-danger"> <i class="fa fa-edit"></i> </div>
                            <div class="feeds-info">
                                <h5>Server #1 overloaded.</h5>
                                <span>Just Now</span>
                            </div>
                        </div><!-- /feed-box-->

                        <div class="feeds-box">
                            <div class="feeds-icon bg-warning"> <i class="fa fa-edit"></i> </div>
                            <div class="feeds-info">
                                <h5>New user registered. </h5>
                                <span>Just Now</span>
                            </div>
                        </div><!-- /feed-box-->

                        <div class="feeds-box">
                            <div class="feeds-icon bg-info"> <i class="fa fa-edit"></i> </div>
                            <div class="feeds-info">
                                <h5>New user registered. </h5>
                                <span>Just Now</span>
                            </div>
                        </div><!-- /feed-box-->

                        <div class="feeds-box">
                            <div class="feeds-icon bg-success"> <i class="fa fa-edit"></i> </div>
                            <div class="feeds-info">
                                <h5>New Version just arrived. </h5>
                                <span>Just Now</span>
                            </div>
                        </div><!-- /feed-box-->


                    </div>
                </div>
                <!-- End Feeds-->

                <!-- Start Browsers Stats -->
                <div class="col-md-6">
                    <div class="white-box">
                        <h2 class=" header-title">Browsers Stats </h2>

                        <ul class="Browser_stats">
                            <li>
                                <span class="browser-info"><img alt="google"
                                        src="/admin-assets/images/chrome.png">Google
                                    Crome</span>
                                <span class="broser-stats">32%</span>
                            </li>

                            <li>
                                <span class="browser-info"><img alt="google"
                                        src="/admin-assets/images/firefox.png">Firefox</span>
                                <span class="broser-stats">42%</span>
                            </li>

                            <li>
                                <span class="browser-info"><img alt="google"
                                        src="/admin-assets/images/safari.png">Google
                                    Crome</span>
                                <span class="broser-stats">32%</span>
                            </li>

                            <li>
                                <span class="browser-info"><img alt="google" src="/admin-assets/images/opera.png">Google
                                    Crome</span>
                                <span class="broser-stats">32%</span>
                            </li>

                            <li>
                                <span class="browser-info"><img alt="google" src="/admin-assets/images/Ie.png">Google
                                    Crome</span>
                                <span class="broser-stats">32%</span>
                            </li>

                            <li>
                                <span class="browser-info"><img alt="google"
                                        src="/admin-assets/images/mobile.png">Google
                                    Crome</span>
                                <span class="broser-stats">32%</span>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- Start Browsers Stats -->





                <!--Start row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h2 class="header-title">充值统计</h2>
                            <!--Start chart-->
                            <div class="col-md-9">
                                <canvas id="sharpLinechart2" height="60"></canvas>
                            </div>
                            <!--End chart-->

                            <div class="col-md-3">
                                <div class="progress-main">
                                    <span class="progress-text">Total orders in period</span>
                                    <span class="progress-stats">48%</span>
                                    <div class="progress progress-sm">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </div>

                                <div class="progress-main">
                                    <span class="progress-text">Orders in last month</span>
                                    <span class="progress-stats">60%</span>
                                    <div class="progress progress-sm">
                                        <div style="width: 60%;" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>

                                <div class="progress-main">
                                    <span class="progress-text">Monthly income</span>
                                    <span class="progress-stats">22%</span>
                                    <div class="progress progress-sm">
                                        <div style="width: 22%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--End row-->


            </div>
            <!--End row-->
        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}

    <!--Begin Page Level Plugin-->
    <script src="/admin-assets/plugins/morris-chart/morris.js"></script>
    <script src="/admin-assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="/admin-assets/plugins/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <!-- <script src="/admin-assets/pages/dashboard2.js"></script> -->
    <script src="/admin-assets/plugins/chart-js/Chart.js"></script>


    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                result: {
                    "userCount": 0,
                    "coinCount": {
                        usdt_trc20: 0,
                        usdt_erc20: 0,
                        eth: 0,
                        btc: 0
                    },
                    "walletAddressCount": {
                        "USDT_TRC20": {
                            "total": 0,
                            "used": 0
                        },
                        "USDT_ERC20": {
                            "total": 0,
                            "used": 0
                        },
                        "ETH": {
                            "total": 0,
                            "used": 0
                        },
                        "BTC": {
                            "total": 0,
                            "used": 0
                        }
                    },
                    "pageViewCount": 0
                }
            },
            methods: {
                initChart(list) {
                    let a = list.reverse()
                    let labels = []
                    let datas = []
                    a.forEach(function (item) {
                        item.create_time = moment(item.create_time).format('YYYY/MM/DD HH:mm:ss')
                        item.amount = item.amount
                        labels.push(item.create_time)
                        datas.push(item.amount)
                    })
                    var sharpLineData = {
                        labels: labels,
                        datasets: [
                            {
                                label: "充值",
                                fillColor: "rgba(3,169,243,0.7)",
                                strokeColor: "rgba(23,112,233,0.7)",
                                pointColor: "rgba(23,112,233,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(23,112,233,1)",
                                data: datas
                            }
                        ]
                    };

                    var sharpLineOptions = {
                        scaleShowGridLines: true,
                        scaleGridLineColor: "rgba(0,0,0,.00)",
                        scaleGridLineWidth: 1,
                        bezierCurve: false,
                        pointDot: true,
                        pointDotRadius: 4,
                        pointDotStrokeWidth: 1,
                        pointHitDetectionRadius: 20,
                        datasetStroke: false,
                        datasetStrokeWidth: 1,
                        datasetFill: true,
                        responsive: true,
                        resize: true
                    };

                    var ctx = document.getElementById("sharpLinechart2").getContext("2d");
                    var myNewChart = new Chart(ctx).Line(sharpLineData, sharpLineOptions);
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },

                init() {
                    this.get('/admin/api/dashboard', {}, (data) => {
                        this.result = data.data
                        console.log(data.data)
                        console.log(this.result)
                    })

                    this.get('/admin/api/trade-log', {}, (data) => {
                        this.initChart(data.data.list)
                    })
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>