<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">平台币</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">网站首页</a>
                    </li>
                    <li class="active">
                        平台币
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">平台币设置</h2>


                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">(一般是大写如：BTC) 标志</label>
                                <div class="col-md-10">
                                    <input v-model="form.symbol" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">(一般首字母大写如：Bitcoin) 名称</label>
                                <div class="col-md-10">
                                    <input v-model="form.name" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><img :src="form.icon" alt="" width="32"> 图标</label>
                                <div class="col-md-10">
                                    <input v-model="form.icon" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">总发行量</label>
                                <div class="col-md-10">
                                    <input v-model="form.value" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">(BTC,ETH汇率根据USDT来换算) USDT兑换比例</label>
                                <div class="col-md-10">
                                    <input v-model="form.usdt_exchange" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">提现手续费</label>
                                <div class="col-md-10">
                                    <input v-model="form.withdraw_charges" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">(0是放在最后) 位置排序</label>
                                <div class="col-md-10">
                                    <input v-model="form.sort" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <!-- 
                            <div class="form-group">
                            <label class="col-md-2 control-label">ETH兑换比例</label>
                            <div class="col-md-10">
                            <input v-model="form.eth_exchange" class="form-control" value="" type="text">
                            </div>
                            </div> 

                            <div class="form-group">
                            <label class="col-md-2 control-label">BTC兑换比例</label>
                            <div class="col-md-10">
                            <input v-model="form.btc_exchange" class="form-control" value="" type="text">
                            </div>
                            </div>
                            -->
                            <div class="form-group">
                                <label class="col-md-2 control-label">开始发售时间</label>
                                <div class="col-md-10">
                                    <input v-model="form.start_time" class="form-control" placeholder="YYYY-MM-DD 00:00:00" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">结束发售时间</label>
                                <div class="col-md-10">
                                    <input v-model="form.end_time" class="form-control" placeholder="YYYY-MM-DD 00:00:00" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label"> </label>
                                <div class="col-md-10">
                                    <button :disabled="this.loading" @click="onClickSubmit()" type="button" class="btn btn-primary col-md-1">Submit</button>
                                </div>
                            </div>



                        </form>




                    </div>
                </div>
            </div>
            <!--End row-->


        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/admin-assets/plugins/sweetalert/sweet-alert.js"></script>
    <script src="/admin-assets/pages/jquery.sweet-alert.custom.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                form: {
                    id: 0,
                    icon: '',
                    symbol: '',
                    name: '',
                    value: '',
                    sort: '',
                    withdraw_charges: '',
                    usdt_exchange: '',
                    // eth_exchange: '',
                    // btc_exchange: '',
                    start_time: '',
                    end_time: ''
                }
            },
            methods: {
                onClickSubmit() {
                    this.loading = true
                    this.post('/admin/api/startup', this.form, (data) => {
                        this.loading = false
                        console.log(data)
                        if (data.data.changedRows >= 1) {
                            swal("修改完成！", "数据已修改完成！", "success")
                        }
                    })
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
                init() {
                    this.get('/api/startup', {}, (data) => {
                        let o = data.data.currency
                        o.start_time = moment(o.start_time).format('YYYY-MM-DD HH:mm:ss')
                        o.end_time = moment(o.end_time).format('YYYY-MM-DD HH:mm:ss')
                        this.form = o
                    })
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>