<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/admin-assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin-assets/plugins/datatables/css/jquery.dataTables-custom.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">钱包地址</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">网站首页</a>
                    </li>
                    <li class="active">
                        钱包地址
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>钱包地址</h4>
                            </div>
                            <div class="col-md-6 text-right"><button @click="onClickGoUpload()"
                                    class="btn btn-primary">上传钱包地址</button></div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>上传人</th>
                                        <th>绑定的用户</th>
                                        <th>钱包类型</th>
                                        <th>钱包地址</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in this.list">
                                        <td>{[item.id]}</td>
                                        <td><span v-html="item.uploaderName"></span></td>
                                        <td><span v-html="item.binderName"></span></td>
                                        <td>{[item.wallet_type]}</td>
                                        <td>{[item.wallet_address]}</td>
                                        <td>{[item.create_datetime]}</td>
                                        <td>
                                            <button class="btn btn-info"> <i class="fa fa-edit"></i> 编辑</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="page" class="btn-group m-b-20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->


        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}



    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                list: [],
            },
            methods: {
                onClickGoUpload() {
                    document.location = "/admin/upload-wallet-address"
                },
                onClickPage(page) {
                    this.page.page = page
                    this.init()
                },
                accountName(data) {
                    let str = ''
                    if (!data) {
                        return str
                    }
                    if (data.account) {
                        str += '帐号：' + data.account
                    }
                    if (data.mobile) {
                        str += '<br>手机：' + data.mobile
                    }
                    if (data.email) {
                        str += '<br>邮箱：' + data.email
                    }
                    return str
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
                init() {

                    $('#page').pagination({
                        dataSource: '/admin/api/wallet-list',
                        locator: 'data.list',
                        pageSize: 10,
                        alias: {
                            pageNumber: 'page',
                            pageSize: 'limit'
                        },
                        totalNumberLocator: function (response) {
                            return response.data.page.total;
                        },
                        ajax: {
                            beforeSend: function () {
                                console.log('正在加载...')
                            }
                        },
                        callback: (data, pagination) => {
                            let a = data
                            for (let i = 0; i < a.length; i++) {
                                let item = a[i]
                                item.uploaderName = this.accountName(item.uploader)
                                item.binderName = this.accountName(item.binder)
                            }
                            this.list = a
                        }
                    })

                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>