<!DOCTYPE html>
<html lang="en">

<head>
    {{include './_header.html'}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/admin-assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin-assets/plugins/datatables/css/jquery.dataTables-custom.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <style>
        * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .usdt-trc20 {
            background-color: #Fff;
        }

        .eth {
            background-color: rgb(232, 255, 241);
        }

        .btc {
            background-color: rgb(253, 238, 238);
        }
    </style>
</head>

<body class="sticky-header">
    {{include './_menu.html'}}


    <!-- main content start-->
    <div class="main-content">


        {{include './_header_profile.html'}}


        <!--body wrapper start-->
        <div id="app" class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">用户列表</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">网站首页</a>
                    </li>
                    <li class="active">
                        所有用户
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">用户列表</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>帐号</th>
                                        <th>数额</th>
                                        <th>类型</th>
                                        <th>哈希</th>
                                        <th>系统钱包地址</th>
                                        <th>交易时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in this.list" :class="item.type">
                                        <td>{[item.id]}</td>
                                        <td>
                                            <div v-if="item.user">
                                                <div>帐号：{[item.user.account]}</div>
                                                <div>手机：{[item.user.mobile]}</div>
                                                <div>邮箱：{[item.user.email]}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <span v-if="item.action=='add'" style="color:green;">+</span>
                                            <span v-if="item.action=='subtract'" style="color:red;">-</span>
                                            {[item.amount]}
                                        </td>
                                        <td>{[item.type]}</td>
                                        <td>{[item.hash]}</td>
                                        <td>
                                            <a v-if="item.type=='btc'" :href="'https://www.btc.com/btc/address/'+item.to_address" target="_blank">{[item.to_address]}</a>
                                            <a v-if="item.type=='eth'" :href="'https://etherscan.io/address/'+item.to_address" target="_blank">{[item.to_address]}</a>
                                            <a v-if="item.type=='usdt_erc20'" :href="'https://etherscan.io/address/'+item.to_address" target="_blank">{[item.to_address]}</a>
                                            <a v-if="item.type=='usdt_trc20'" :href="'https://usdt.tokenview.com/cn/address/'+item.to_address" target="_blank">{[item.to_address]}</a>
                                        </td>
                                        <td>{[item.time]}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="page" class="btn-group m-b-20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->


        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">{{include './_copyright.html'}}</footer>
        <!--End footer -->

    </div>
    <!--End main content -->


    {{include './_footer.html'}}


    <link href="https://www.paginationjs.cn/dist/2.1.5/pagination.css" rel="stylesheet">
    <script src="//www.paginationjs.cn/dist/2.1.5/pagination.min.js"></script>
    <script>
        let appVue = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                list: [],
                page: {
                    page: 1,
                    limit: 9910,
                    total: 0,
                }
            },
            methods: {
                onClickStatus(item) {
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
                init() {

                    $('#page').pagination({
                        dataSource: '/admin/api/trade-log',
                        locator: 'data.list',
                        pageSize: 10,
                        alias: {
                            pageNumber: 'page',
                            pageSize: 'limit'
                        },
                        totalNumberLocator: function (response) {
                            return response.data.page.total;
                        },
                        ajax: {
                            beforeSend: function () {
                                console.log('正在加载...')
                            }
                        },
                        callback: (data, pagination) => {
                            let a = data
                            a.forEach(function (item) {
                                item.time = moment(item.time).format('YYYY/MM/DD HH:mm:ss')
                            })
                            this.list = a
                        }
                    })

                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>