<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Web Socket Test</title>
    <link rel="stylesheet" href="https://kylebing.cn/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue -->
    <script src="/default/js/vue.js"></script>
    <style>
        .navbar {
            margin-bottom: 20px;
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .list-group-item {
            padding: 3px 5px;
            font-size: 0.8rem;
        }

        .table {
            font-size: small;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">CoinCap 货币数据 Websocket API 测试</a>
    </nav>

    <div id="app" class="container pb-5">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card" id="BTC">
                    <div class="card-body">
                        <h5 class="card-title">BTC - $</h5>
                        <h6 class="card-subtitle mb-2 price">---</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" id="ETH">
                    <div class="card-body">
                        <h5 class="card-title">ETH - $</h5>
                        <h6 class="card-subtitle mb-2 price">---</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" id="LTC">
                    <div class="card-body">
                        <h5 class="card-title">LTC - $</h5>
                        <h6 class="card-subtitle mb-2 price">---</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <a id="initBtn" onclick="getCoinCapData()" class="btn btn-danger text-white">获取 CoinCap 数字货币数据</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">


                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">排名</th>
                            <th scope="col">名称</th>
                            <th scope="col">价格</th>
                            <th scope="col">市值</th>
                            <th scope="col">VWAP(24Hr)</th>
                            <th scope="col">供应量(24Hr)</th>
                            <th scope="col">量(24Hr)</th>
                            <th scope="col">Change(24Hr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in this.list">
                            <th scope="row">{[item.node.rank]}</th>
                            <td>
                                <div class="row">
                                    <div class="col-6"><img :src="item.node.logo" :alt="item.node.name" width="36px">
                                    </div>
                                    <div class="col-6">
                                        <div>{[item.node.id]}</div>
                                        <div>{[item.node.name]}</div>
                                        <div>{[item.node.symbol]}</div>
                                    </div>
                                </div>
                            </td>
                            <td>${[item.node.priceUsd]}</td>
                            <td>${[item.node.marketCapUsd]}t</td>
                            <td>${[item.node.vwapUsd24Hr]}</td>
                            <td>{[item.node.supply]}m</td>
                            <td>${[item.node.volumeUsd24Hr]}b</td>
                            <td>{[item.node.changePercent24Hr]}%</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div> -->





        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h2 class="header-title">用户列表</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">排名</th>
                                    <th scope="col">名称</th>
                                    <th scope="col">价格</th>
                                    <th scope="col">市值</th>
                                    <th scope="col">VWAP(24Hr)</th>
                                    <th scope="col">供应量(24Hr)</th>
                                    <th scope="col">量(24Hr)</th>
                                    <th scope="col">Change(24Hr)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in this.list">
                                    <th scope="row">{[item.node.rank]}</th>
                                    <td>
                                        <div class="row">
                                            <div class="col-6"><img :src="item.node.logo" :alt="item.node.name"
                                                    width="36px">
                                            </div>
                                            <div class="col-6">
                                                <!-- <div>{[item.node.id]}</div> -->
                                                <div>{[item.node.name]}</div>
                                                <div>{[item.node.symbol]}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>${[item.node.priceUsd]}</td>
                                    <td>${[item.node.marketCapUsd]}t</td>
                                    <td>${[item.node.vwapUsd24Hr]}</td>
                                    <td>{[item.node.supply]}m</td>
                                    <td>${[item.node.volumeUsd24Hr]}b</td>
                                    <td>{[item.node.changePercent24Hr]}%</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <script>
        let btcPrice = 0;
        let ltcPrice = 0;
        let ethPrice = 0;

        // 更新价格
        function updatePrice(tagSelector, oldPrice, newPrice) {
            let tag = $(tagSelector);
            if (newPrice > oldPrice) {
                tag.classList.remove('green');
                tag.classList.add('red');
            } else if (newPrice < oldPrice) {
                tag.classList.remove('red');
                tag.classList.add('green');
            }
            tag.innerText = newPrice;
        }

        function getCoinCapData() {
            // 改变按钮状态
            let btn = $('#initBtn');
            btn.classList.remove('btn-danger');
            btn.classList.add('btn-warning');
            btn.innerText = '已请求，请稍后...';
            btn.setAttribute('onclick', ''); // 点击后去掉点击事件


            let haurl = 'wss://ws.coincap.io/prices?assets=bitcoin,ethereum,monero,litecoin'; // coinCap API
            let coinCapSocket = new WebSocket(haurl);
            // 建立连接
            coinCapSocket.onopen = function () {
                let buttonInit = $('#initBtn');
                buttonInit.innerText = '已连接，正在获取数据...';
                buttonInit.classList.add('btn-success');
                buttonInit.classList.remove('btn-warning');
                show("--- connection establish");
                insertNewData(dateFormatter(new Date()), '--- 连接已建立')
            };

            // 处理接收的数据
            coinCapSocket.onmessage = function (res) {
                let data = JSON.parse(res.data);
                if (data.bitcoin) {
                    updatePrice('#BTC .price', btcPrice, data.bitcoin);
                    btcPrice = data.bitcoin
                }
                if (data.ethereum) {
                    updatePrice('#ETH .price', ethPrice, data.ethereum);
                    ethPrice = data.ethereum
                }
                if (data.litecoin) {
                    updatePrice('#LTC .price', ethPrice, data.litecoin);
                    ltcPrice = data.litecoin
                }
                insertNewData(dateFormatter(new Date()), res.data);
            };
            coinCapSocket.onclose = function () {
                show('--- connection closed');
            };
        }

        function insertNewData(timeNow, str) {
            let nodeLi = document.createElement('li');
            let nodePre = document.createElement('pre');
            nodeLi.classList.add('list-group-item');
            nodePre.classList.add('mb-0')
            nodePre.innerText = timeNow + '\t\t' + str;
            nodeLi.appendChild(nodePre)
            let listGroup = $('.list-group')
            listGroup.insertBefore(nodeLi, listGroup.firstChild);
        }


        // UTILITY
        function show(i) {
            console.log(i)
        }

        function $(selector) {
            return document.querySelector(selector);
        }

        /**
         * 格式化时间，输出字符串
         *
         * @param   date    要格式化的时间
         * @param   formatString    返回时间的格式：
         * @return  格式化后的时间字符串
         * */
        function dateFormatter(date, formatString) {
            formatString = formatString || 'yyyy-MM-dd hh:mm:ss.S';
            let dateRegArray = {
                "M+": date.getMonth() + 1,                      // 月份
                "d+": date.getDate(),                           // 日
                "h+": date.getHours(),                          // 小时
                "m+": date.getMinutes(),                        // 分
                "s+": date.getSeconds(),                        // 秒
                "q+": Math.floor((date.getMonth() + 3) / 3),    // 季度
                "S": date.getMilliseconds()                     // 毫秒
            };
            if (/(y+)/.test(formatString)) {
                formatString = formatString.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (let section in dateRegArray) {
                if (new RegExp("(" + section + ")").test(formatString)) {
                    formatString = formatString.replace(RegExp.$1, (RegExp.$1.length === 1) ? (dateRegArray[section]) : (("00" + dateRegArray[section]).substr(("" + dateRegArray[section]).length)));
                }
            }
            return formatString;
        }
    </script>
    <script>
        setTimeout(() => {
            if (!/^http:\/\/(a\.kylebing\.cn|localhost|192\.168\.\d{1,3}\.\d{1,3})/i.test(location.href)) {
                let hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?5b36e7d61051d99382e278c17c7aea02";
                let s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            }
        }, 1000)
    </script>


    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                loading: false,
                list: []
            },
            methods: {
                // 保留几位小数
                round(num, len) {
                    let mult = Number("1" + "00000000000000000000000000000".substr(0, len))
                    return Math.round(num * mult) / mult
                },
                // 小数点向前移，min,保留几位小数
                lessen(num, min, len) {
                    let n = num / min
                    return this.round(n, len)
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
				// coinList() {
				// 	let _t = this
				// 	fetch('https://graphql.coincap.io/', {
				// 		method: 'POST',
				// 		headers: {
				// 			"content-type": "application/json"
				// 		},
				// 		body: JSON.stringify({ "variables": { "direction": "ASC", "first": 20, "sort": "rank" }, "query": "query ($after: String, $before: String, $direction: SortDirection, $first: Int, $last: Int, $sort: AssetSortInput) {\n  assets(\n    after: $after\n    before: $before\n    direction: $direction\n    first: $first\n    last: $last\n    sort: $sort\n  ) {\n    pageInfo {\n      startCursor\n      endCursor\n      hasNextPage\n      hasPreviousPage\n      __typename\n    }\n    edges {\n      cursor\n      node {\n        changePercent24Hr\n        name\n        id\n        logo\n        marketCapUsd\n        priceUsd\n        rank\n        supply\n        symbol\n        volumeUsd24Hr\n        vwapUsd24Hr\n        __typename\n      }\n      __typename\n    }\n    __typename\n  }\n}\n" })
				// 	})
				// 		.then(response => response.json())
				// 		.then(data => {
				// 			console.log(data)
				// 			let a = data.data.assets.edges
				// 			a.forEach(function (item) {
				// 				item.node.logo = `https://assets.coincap.io/assets/icons/${item.node.logo}@2x.png`
				// 				item.node.priceUsd = _t.round(item.node.priceUsd, 2)
				// 				item.node.marketCapUsd = _t.lessen(item.node.marketCapUsd, 12, 2)
				// 				item.node.vwapUsd24Hr = _t.round(item.node.vwapUsd24Hr, 2)
				// 				item.node.supply = _t.lessen(item.node.supply, 6, 2)
				// 				item.node.volumeUsd24Hr = _t.lessen(item.node.volumeUsd24Hr, 9, 2)
				// 				item.node.changePercent24Hr = _t.round(item.node.changePercent24Hr, 2)
				// 			})
				// 			a.splice(4, 0, {
				// 				node:
				// 				{
				// 					changePercent24Hr: - 2.39,
				// 					id: "bitcoin",
				// 					logo: _t.statup.icon,
				// 					marketCapUsd: 88811108158.73,
				// 					name: _t.statup.name,
				// 					priceUsd: 56421.09,
				// 					rank: 1,
				// 					supply: 3148153,
				// 					symbol: _t.statup.name,
				// 					volumeUsd24Hr: 4456985117.36,
				// 					vwapUsd24Hr: 57459.97,
				// 				}
				// 			})
				// 			this.list = a
				// 		});
				// },
                coinList() {
                    let _this = this
                    fetch('https://graphql.coincap.io/', {
                        method: 'POST',
                        headers: {
                            "content-type": "application/json"
                        },
                        body: JSON.stringify({ "variables": { "direction": "ASC", "first": 20, "sort": "rank" }, "query": "query ($after: String, $before: String, $direction: SortDirection, $first: Int, $last: Int, $sort: AssetSortInput) {\n  assets(\n    after: $after\n    before: $before\n    direction: $direction\n    first: $first\n    last: $last\n    sort: $sort\n  ) {\n    pageInfo {\n      startCursor\n      endCursor\n      hasNextPage\n      hasPreviousPage\n      __typename\n    }\n    edges {\n      cursor\n      node {\n        changePercent24Hr\n        name\n        id\n        logo\n        marketCapUsd\n        priceUsd\n        rank\n        supply\n        symbol\n        volumeUsd24Hr\n        vwapUsd24Hr\n        __typename\n      }\n      __typename\n    }\n    __typename\n  }\n}\n" })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            let a = data.data.assets.edges
                            a.forEach(function (item) {
                                item.node.logo = `https://assets.coincap.io/assets/icons/${item.node.logo}@2x.png`
                                item.node.priceUsd = _this.round(item.node.priceUsd, 2)
                                item.node.marketCapUsd = _this.lessen(item.node.marketCapUsd, 12, 2)
                                item.node.vwapUsd24Hr = _this.round(item.node.vwapUsd24Hr, 2)
                                item.node.supply = _this.lessen(item.node.supply, 6, 2)
                                item.node.volumeUsd24Hr = _this.lessen(item.node.volumeUsd24Hr, 9, 2)
                                item.node.changePercent24Hr = _this.round(item.node.changePercent24Hr, 2)
                            })
                            this.list = a
                        });
                },
                // 初始化
                init() {
                    this.coinList()
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>


</body>

</html>