<!doctype html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{lang.list[defLang].title}}</title>
    {{include '../_style.html'}}
    <style>
        .bg01 {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 20px;
            background-color: #202b3f;
        }

        .p0 {
            padding: 0px;
        }

        #wallet_address {
            background-color: #333;
            padding: 10px;
        }

        #qrcode>canvas {
            background-color: #fff;
            padding: 10px;
        }

        .textOver {
            font-size: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .profilePictureBg {
            color: #fff;
        }

        .profilePicture {
            width: 60px;
            border-radius: 50%;
        }

        .thead-dark>tr>th {
            font-size: 8px;
        }

        .green {
            color: rgb(90, 182, 90);
        }

        .gray1 {
            color: rgb(251, 252, 220);
        }

        .gray {
            color: #999;
        }

        .red {
            color: rgb(212, 143, 143);
        }

        .bg-dark2 {
            background-color: rgb(37, 46, 75);
        }

        .cztx {
            height: 154px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .ml-10 {
            margin-left: 20px;
        }





        /* ---------------------------------------------------------------- */
        .profilePictureBg {
            background-color: #252e4b;
            padding: 20px;
            font-size: large;
            color: #fff;
        }

        .totalBg {
            text-align: center;
            padding: 20px;
        }


        .card-item {
            background-color: #090b1498;
            padding: 20px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 30px;
        }

        .card-title {
            color: fff;
            font-size: large;
            font-weight: bold;
        }

        .card-content {
            float: left;
        }

        .card-content-left {
            width: 70%;
        }

        .card-content-right {
            width: 30%;
            line-height: 30px;
            text-align: right;
        }
    </style>
</head>

<body>

    <div class="placeholder-t"></div>

    <div id="app" class="uk-container uk-text-lighter">

        <div class="profilePictureBg" style="margin-top:20px;">
            <img class="profilePicture" src="/images/profile01.png" alt="{{session.user.email}}">
            <span>{{session.user.email}}</span>
            <span> <a href="/me/authentication">{{lang.list[defLang].page.verified}}</a> </span>
        </div>



        <div class="uk-container">

            <div class="totalBg">
                {{lang.list[defLang].page.total_assets}}：{[round(usd.total,1,8)]} USD
            </div>

            <!-- BTC -->
            <div class="card-item uk-box-shadow-medium">
                <div>
                    <div class="card-title">BTC</div>
                    <div class="card-content card-content-left">
                        <p class="card-text"><span class="gray1">{[user.btc]} BTC</span><span class="gray"> ≈ {[usd.btc]} USD</span></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-content card-content-right">
                        <button @click="onClickShowWallet('btc')" class="btn btn-primary">{{lang.list[defLang].page.recharge}}</button>
                        <button @click="onClickGo('/me/withdraw')" class="btn btn-primary">{{lang.list[defLang].page.withdraw}}</button>
                    </div>
                </div>

                <div v-if="is_show.btc">
                    <div class="card-content uk-width-1-1">
                        <h5 class="card-title">{{lang.list[defLang].page.address}}</h5>
                        <div class="card-content card-content-left">
                            <input id="wallet_address_txt" type="text" readonly="readonly" class="uk-input" :value="wallet_address">
                        </div>
                        <div class="card-content card-content-right">
                            <button @click="onClickCopyText('wallet_address_txt')" class="uk-button uk-button-primary">{{lang.list[defLang].page.copy}}</button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>

            <!-- ETH -->
            <div class="card-item uk-box-shadow-medium">
                <div>
                    <div class="card-title">ETH</div>
                    <div class="card-content card-content-left">
                        <p class="card-text"><span class="gray1">{[user.eth]} ETH</span><span class="gray"> ≈ {[usd.eth]} USD</span></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-content card-content-right">
                        <button @click="onClickShowWallet('eth')" class="btn btn-primary">{{lang.list[defLang].page.recharge}}</button>
                        <button @click="onClickGo('/me/withdraw')" class="btn btn-primary">{{lang.list[defLang].page.withdraw}}</button>
                    </div>
                </div>

                <div v-if="is_show.eth">
                    <div class="card-content uk-width-1-1">
                        <h5 class="card-title">{{lang.list[defLang].page.address}}</h5>
                        <div class="card-content card-content-left">
                            <input id="wallet_address_txt" type="text" readonly="readonly" class="uk-input" :value="wallet_address">
                        </div>
                        <div class="card-content card-content-right">
                            <button @click="onClickCopyText('wallet_address_txt')" class="uk-button uk-button-primary">{{lang.list[defLang].page.copy}}</button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>

            <!-- USDT-TRC20 -->
            <div class="card-item uk-box-shadow-medium">
                <div>
                    <div class="card-title">USDT-TRC20</div>
                    <div class="card-content card-content-left">
                        <p class="card-text"><span class="gray1">{[user.usdt_trc20]} USDT-TRC20</span><span class="gray"> ≈ {[usd.usdt_trc20]} USD</span></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-content card-content-right">
                        <button @click="onClickShowWallet('usdt_trc20')" class="btn btn-primary">{{lang.list[defLang].page.recharge}}</button>
                        <button @click="onClickGo('/me/withdraw')" class="btn btn-primary">{{lang.list[defLang].page.withdraw}}</button>
                    </div>
                </div>

                <div v-if="is_show['usdt_trc20']">
                    <div class="card-content uk-width-1-1">
                        <h5 class="card-title">{{lang.list[defLang].page.address}}</h5>
                        <div class="card-content card-content-left">
                            <input id="wallet_address_txt" type="text" readonly="readonly" class="uk-input" :value="wallet_address">
                        </div>
                        <div class="card-content card-content-right">
                            <button @click="onClickCopyText('wallet_address_txt')" class="uk-button uk-button-primary">{{lang.list[defLang].page.copy}}</button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>

            <!-- USDT-ERC20 -->
            <div class="card-item uk-box-shadow-medium">
                <div>
                    <div class="card-title">USDT-ERC20</div>
                    <div class="card-content card-content-left">
                        <p class="card-text"><span class="gray1">{[user.usdt_erc20]} USDT-ERC20</span><span class="gray"> ≈ {[usd.usdt_erc20]} USD</span></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-content card-content-right">
                        <button @click="onClickShowWallet('usdt_erc20')" class="btn btn-primary">{{lang.list[defLang].page.recharge}}</button>
                        <button @click="onClickGo('/me/withdraw')" class="btn btn-primary">{{lang.list[defLang].page.withdraw}}</button>
                    </div>
                </div>

                <div v-if="is_show['usdt_erc20']">
                    <div class="card-content uk-width-1-1">
                        <h5 class="card-title">{{lang.list[defLang].page.address}}</h5>
                        <div class="card-content card-content-left">
                            <input id="wallet_address_txt" type="text" readonly="readonly" class="uk-input" :value="wallet_address">
                        </div>
                        <div class="card-content card-content-right">
                            <button @click="onClickCopyText('wallet_address_txt')" class="uk-button uk-button-primary">{{lang.list[defLang].page.copy}}</button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div id="qrcode"></div>
                    </div>
                </div>
            </div>



            <div class="card-item uk-box-shadow-medium uk-width-1-1">
                <div>
                    <div class="card-title">{[currency.symbol]}</div>
                    <div class="card-content uk-width-1-1">
                        <p class="card-text"><span class="gray1">{[user.platform_currency_buy_total]} {[currency.symbol]}</span>
                            <span v-if="usd.platform_currency_is_up=='+'" class="green"> ≈ {[round(usd.platform_currency,1,8)]} USD ({[usd.platform_currency_is_up]}{[usd.platform_currency_percent]}%)</span>
                            <span v-if="usd.platform_currency_is_up=='-'" class="red"> ≈ {[usd.platform_currency]} USD ({[usd.platform_currency_is_up]}{[usd.platform_currency_percent]}%)</span>
                            <span v-if="usd.platform_currency_is_up==''" class="gray"> ≈ {[usd.platform_currency]} USD ({[usd.platform_currency_is_up]}{[usd.platform_currency_percent]}%)</span>
                        </p>

                        <div class="uk-flex uk-width-1-1">
                            <div class="uk-flex-left uk-width-1-2">
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            <div class="uk-flex-right uk-width-1-2" style="text-align: right">
                                <button @click="onClickGo('/startup')">{{lang.list[defLang].page.buy}}</button>
                                <button @click="onClickGo('/me/withdraw')" class="">{{lang.list[defLang].page.withdraw}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

    <div class="placeholder-b"></div>
    <div class="placeholder-b"></div>

    {{include '../_menu.html'}}

    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                statusText: '',
                loading: false,
                readOnly: 'readOnly',
                wallet_address: '',
                list: [],

                currency: {},
                user: {},
                usd: {
                    total: 0,
                    btc: 0,
                    eth: 0,
                    usdt_trc20: 0,
                    usdt_erc20: 0,
                    platform_currency: 0,
                    platform_currency_percent: 0,
                    platform_currency_is_up: '',
                },

                ws: null,

                is_show: {
                    'btc': false,
                    'eth': false,
                    'usdt_trc20': false,
                    'usdt_erc20': false,
                },
            },
            methods: {
                onClickGo(url) {
                    window.location = url
                },
                onClickShowWallet(name) {
                    let wallet = this.findWalletAddress(name)
                    setTimeout(() => {
                        this.wallet_address = wallet.wallet_address
                        jQuery('#qrcode').qrcode({ width: 128, height: 128, text: wallet.wallet_address })
                        $('#qrcode > canvas').on('click', () => {
                            this.downloadCanvasImamge('canvas', 'qrcode-' + wallet.wallet_address + '.png')
                        })
                    }, 1)
                },
                onClickCopyText(e) {
                    this.readOnly = ''
                    $('#' + e).val()
                    $('#' + e).select()
                    document.execCommand("copy")
                    alert('{{lang.list[defLang].page.copy_successful}} ：\n' + $('#' + e).val())
                },
                findWalletAddress(name) {
                    let a = this.user.wallet
                    // if (name == 'usdt_erc20') {
                    //     name = 'eth'
                    // }
                    let result
                    for (let i = 0; i < a.length; i++) {
                        let item = a[i]
                        if (item.wallet_type == name) {
                            result = item
                            this.is_show[item.wallet_type] = !this.is_show[item.wallet_type]
                        } else {
                            this.is_show[item.wallet_type] = false
                        }
                    }
                    return result
                },
                downloadCanvasImamge(selector, name) {
                    var canvas = document.querySelector(selector)
                    var url = canvas.toDataURL('image/png')
                    var a = document.createElement('a')
                    var event = new MouseEvent('click')
                    a.download = name || 'download-image'
                    a.href = url
                    a.dispatchEvent(event)
                },
                getWallet() {
                    this.get('/api/wallet-address/' + this.wallet_address, {}, (data) => {
                        let a = data.data.token_transfers
                        let list = []
                        for (let i = 0; i < a.length; i++) {
                            let item = a[i]
                            let o = {
                                hash: item.hash || item.transaction_id,
                                block: item.block,
                                timestamp: moment(item.time).format('lll') || moment(item.block_ts).format('lll'),
                                amount: item.amount || item.quant,
                                ownerAddress: item.owner_address || item.from_address,
                                toAddress: item.to_address,
                            }

                            if (o.toAddress == this.wallet_address) {
                                list.push(o)
                            }
                        }
                        this.list = list
                    })
                },
                round(num, intLen = 2, dotLaterLen = 8) {
                    let z = '000000000000000000000000000000'
                    let zn = Number(1 + z.substr(0, dotLaterLen))
                    num = Math.round(num * zn) / zn
                    let s = String(num)

                    if (s.indexOf('.') !== -1) {
                        let a = s.split('.')
                        let n1 = a[0], n2 = a[1], zn

                        if (a[0].length < intLen) {
                            n1 = z.substr(0, intLen - a[0].length) + a[0]
                        }

                        if (a[1].length < dotLaterLen) {
                            zn = z.substr(0, dotLaterLen - a[1].length)
                            n2 = String(a[1]) + zn
                        }

                        let res = `${n1}.${n2}`
                        return res
                    }

                    let zl = z.substr(0, dotLaterLen)
                    return `${s}.${zl}`
                },
                getObjBySymbol(arr, symbol) {
                    for (let i = 0; i < arr.length; i++) {
                        let item = arr[i]
                        console.log(item.symbol, symbol)
                        if (item.symbol == symbol) {
                            return item
                        }
                    }
                    return null
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            alert(err.statusText);
                        }
                    })
                },
                initWS() {
                    let ws = new WebSocket('{{lang.ws}}/coin/price/platform')
                    ws.onopen = () => {
                        console.log('websocket init ...')
                        if (this.user.platform_currency_buy_total <= 0) {
                            ws.close()
                        }
                    };
                    ws.onclose = () => {
                        console.log('websocket close ...')
                    }
                    ws.onmessage = (event) => {
                        let res = JSON.parse(event.data)
                        this.usd.platform_currency = this.user.platform_currency_buy_total * res.price
                        this.usd.platform_currency_percent = this.round(res.price_percent * res.ts_percent, 1, 4)
                        this.usd.platform_currency_is_up = res.is_up == 1 ? '+' : res.is_up == -1 ? '-' : ''
                        this.usd.total = this.usd.btc + this.usd.eth + this.usd.usdt_trc20 + this.usd.usdt_erc20 + this.usd.platform_currency
                    }
                },
                init() {
                    // this.getWallet()
                    // setInterval(() => {
                    //     this.getWallet()
                    // }, 1000 * 60 * 5)

                    this.get('/api/startup', {}, (data) => {
                        this.currency = data.data.currency
                        this.user = data.data.user
                        this.get('/api/coincap-coin-list/caches', {}, (data) => {
                            let a = data.data.value
                            this.usd.btc = Number(this.getObjBySymbol(a, 'BTC').priceUsd) * this.user.btc
                            this.usd.eth = Number(this.getObjBySymbol(a, 'ETH').priceUsd) * this.user.eth
                            this.usd.usdt_trc20 = this.user.usdt_trc20
                            this.usd.usdt_erc20 = this.user.usdt_erc20
                            this.usd.total = this.usd.btc + this.usd.eth + this.usd.usdt_trc20 + this.usd.usdt_erc20 + this.usd.platform_currency

                            this.initWS()
                        })
                    })
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>

</body>

</html>