<footer>
    {{include './_tip.html'}}
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="copyright-box">
                    <a href="/"><img src="/images/logo.png" height="45" alt="logo"></a>
                    <p>{{lang.copyright}}</p>
                </div>
            </div>

            <div class="col text-right">
                <div class="footer-menus">
                    <a href="/about">{{lang.list[defLang].foot.about}}</a>
                    <span class="line">/</span><a href="/help/user-greement">{{lang.list[defLang].menu.help}}</a>
                    <span class="line">/</span><a href="/service">{{lang.list[defLang].foot.service}}</a>
                    <span class="line">/</span><a href="/clause">{{lang.list[defLang].foot.clause}}</a>
                </div>
                <div class="country-list">
                    {{each lang.list}}
                    <a href="/language/{{$index}}" title="{{$value.name}}"><img src="/images/language/{{$value.icon}}"
                            width="36" height="24" /></a>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <div class="container text-center">
        {{include './_tongji.html'}}
    </div>
</footer>