<title>{{lang.list[defLang].title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="keywords" content="{{lang.list[defLang].title}}" />
<meta name="description" content="{{lang.list[defLang].title}}" />
<meta name="csrf-token" content="{{block 'csrf_token'}}{{/block}}">
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/default/css/index.css">
<!-- <link rel="stylesheet" href="/default/css/footer.css"> -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
<script src="/jquery/3.2.1/jquery.min.js"></script>
<script src="/popper/1.12.5/popper.min.js"></script>
<script src="/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- qrcode -->
<script src="//cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<!-- vue -->
<script src="/default/js/vue.js"></script>
<!-- moment -->
<script src="/default/js/moment.js"></script>
<!-- md5 -->
<script src="/default/js/md5.js"></script>
<style>
    footer {
        width: 100%;
        height: 200px;
        background-color: #0a0a0a;
        padding: 10px;
    }

    .footer-menus>.line {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

{{block 'head_script'}}{{/block}}