<!DOCTYPE html>
<html lang="{{lang.list[defLang].lang}}">

<head>
    {{include './_header.html'}}

    <style>
        .coinType {
            text-align: left;
            width: 200px;
            margin: auto;
        }

        .textColor1 {
            color: #333333;
        }

        .titleStyle {
            font-size: 1rem;
            font-weight: bold;
            color: #ffffff;
        }

        .convertibleProportionStyle {
            font-size: 0.9rem;
            color: #c5c5c5;
        }

        .bg1 {
            margin-top: -20px;
            margin-bottom: 30px;
            padding: 10px;
        }

        .bg2 {
            margin-top: 20px;
            margin-bottom: 100px;
            padding: 20px;
        }

        .jsnr {
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 5px;
            background-color: #262c47;
        }

        .main {
            text-align: center;
            background-color: #fff;
            border-radius: 20px;
            width: 300px;
            height: 350px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

<body>
    {{include './_menu.html'}}

    <div id="app" class="container-fluid main-content">

        <div class="container">
            <div class="row jsnr bg1">
                <h5>{{lang.list[defLang].page.first_publish_project}}</h5>
            </div>
        </div>


        <div class="container">

            <div class="row jsnr bg2">


                <section class="section-header pb-7 pb-lg-11 bg-soft">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-6 order-2 order-lg-1"><img src="/images/publish-01.jpg"
                                    class="w-100 img-fluid rounded" alt=""></div>
                            <div class="col-12 col-lg-6 order-1 order-lg-2">
                                <h1 class="display-5 mb-3">{[this.platform_currency.name]}</h1>
                                <p class="lead">The advancement of VR and AR technology, as well as the rise of the concept of the metaverse, have brought new ideas to the development and innovation of the existing Internet. For a long time, there has been a huge gap between the virtual reality of the Internet and the realization of the virtualization of the world. Technology, information and mode gaps, and the rise of the metaverse concept "can help users achieve more real experiences from physical to virtual".</p>
                                <p>{{lang.list[defLang].page.target}}: {[this.platform_currency.value]}</p>
                            </div>
                        </div>
                    </div>
                    <div class="pattern bottom"></div>
                </section>



                <div class="col-sm-12">


                    <div class="row align-items-center">
                        <div class="col-12">

                            <br>
                            <br>
                            <!-- Divider -->
                            <hr class="bg-gray-900 mt-0 mb-8">

                        </div>
                        <div class="col-12 col-md text-center">

                            <div>
                                <!-- Heading -->
                                <h1 class="h4 text-white mb-0">
                                    <div v-if="this.disable">
                                        {{lang.list[defLang].page.end_distance}}： <span id="entTime" class="text-primary-light">{[endTime]}</span>
                                    </div>
                                    <div v-else="">
                                        {{lang.list[defLang].page.subscribe_buy_end}}
                                    </div>
                                </h1>
                                <br>
                                <!-- Text -->
                                <p class="text-white-60 mb-4 mb-md-0">
                                    {{lang.list[defLang].page.start_time}}：{[this.platform_currency.start_time]}
                                </p>
                                <br>

                                <p class="text-white-60 mb-4 mb-md-0">
                                    {{lang.list[defLang].page.end_time}}：{[this.platform_currency.end_time]}
                                </p>
                            </div>

                        </div>
                        <div class="col-12">

                            <!-- Divider -->
                            <hr class="bg-gray-900 mb-0 mt-8">
                            <br>
                            <br>

                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-3 text-center">
                    <div class="coinType">
                        <p class="titleStyle">{{lang.list[defLang].page.target_coin_type}}：USDT-TRC20</p>
                        <p class="convertibleProportionStyle">{{lang.list[defLang].page.exchange_ratio}}<br>1 : {[this.platform_currency.usdt_trc20_exchange]}</p>
                        <p><button @click="onClickParticipation('USDT-TRC20')" :disabled="!this.disable || !this.btn_disable" type="button" class="btn btn-danger btn-block">{{lang.list[defLang].page.participation}}</button></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 text-center">
                    <div class="coinType">
                        <p class="titleStyle">{{lang.list[defLang].page.target_coin_type}}：USDT-ERC20</p>
                        <p class="convertibleProportionStyle">{{lang.list[defLang].page.exchange_ratio}}<br>1 : {[this.platform_currency.usdt_erc20_exchange]}</p>
                        <p><button @click="onClickParticipation('USDT-ERC20')" :disabled="!this.disable || !this.btn_disable" type="button" class="btn btn-danger btn-block">{{lang.list[defLang].page.participation}}</button></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 text-center">
                    <div class="coinType">
                        <p class="titleStyle">{{lang.list[defLang].page.target_coin_type}}：ETH</p>
                        <p class="convertibleProportionStyle">{{lang.list[defLang].page.exchange_ratio}}<br>1 : {[this.platform_currency.eth_exchange]}</p>
                        <p><button @click="onClickParticipation('ETH')" :disabled="!this.disable || !this.btn_disable" type="button" class="btn btn-danger btn-block">{{lang.list[defLang].page.participation}}</button></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 text-center">
                    <div class="coinType">
                        <p class="titleStyle">{{lang.list[defLang].page.target_coin_type}}：BTC</p>
                        <p class="convertibleProportionStyle">{{lang.list[defLang].page.exchange_ratio}}<br>1 : {[this.platform_currency.btc_exchange]}</p>
                        <p><button @click="onClickParticipation('BTC')" :disabled="!this.disable || !this.btn_disable" type="button" class="btn btn-danger btn-block">{{lang.list[defLang].page.participation}}</button></p>
                    </div>
                </div>




                <div class="col-12">
                    <br>
                    <br>
                    <br>
                    <p>
                    <h5>Super star universe profound (SSVP) creates an immersive interactive virtual ecology based on the metaverse and empowers the Internet of Value</h5>
                    </p>

                    <div class="convertibleProportionStyle">

                        <p>　　The advancement of VR and AR technology, as well as the rise of the concept of the metaverse, have brought new ideas to the development and innovation of the existing Internet. For a long time, there has been a huge gap between the virtual reality of the Internet and the realization of the virtualization of the world. Technology, information and mode gaps, and the rise of the metaverse concept "can help users achieve more real experiences from physical to virtual".</p>
                        <p>　　The Metaverse concept originated in science fiction, or refers to the "ultimate form" of the Internet. The term Metaverse comes from writer Neal Stephenson's science fiction novel "Avalanche", which describes a world where people interact with various software in three-dimensional space as virtual images.</p>
                        <p>　　The metaverse can be understood as a future Internet feature based on fusion and physical continuity, manifested as a virtual world in human consciousness, that is, physical reality augmented by virtual reality. In the Internet world created by Metaverse, people are both participants and creators. Everyone's current experience of virtual games is unparalleled by the unparalleled excitement and huge explosive force brought by the metaverse at that time. In the future, with the continuous development of VR and AR technologies and the support of blockchain technology for transactions, Metaverse, a blockchain-based decentralized platform, is expected to move from a certain gaming audience to a larger audience. In the crowd, the boundaries between reality and games will become more blurred, and the virtual will be closer to reality.</p>
                        <p>　　"When the era of virtual reality comes, we can create characters that only belong to us in virtual reality, communicate with friends, and trade with virtual reality currency. The world is coming. At the same time, the assets in the virtual world will come. And influence is mapped to the real world, allowing the two worlds to become one.”</p>
                        <p>　　Based on the application prospects of the Metaverse, the Singapore SSVP Ecological Development Foundation is actively deploying, with DAO as the governance model, and the immersive ecology of the Metaverse virtual reality + real scene mapping as the landing goal, to create a blockchain-based Metaverse virtual Reality Ecosystem——Super star universe profound metaverse platform.</p>
                        <p>　　Super star universe profound is an immersive interactive space that integrates social, entertainment, business, shopping, games and other attributes realized in virtual reality. It uses the world's most advanced 3D creation engine to build a replica in the virtual reality world. Various scenes in the real world, such as cities, streets, real estate, commercial streets, etc., the visualization effect greatly improves the user experience, and people can experience immersive content in different scenes in this space, such as communication, chain business shopping, time and space shuttle and earning income. Let users create their own wealth empire in the virtual world through the metaverse.</p>
                        <p>　　At present, users of vertical industry social networking are opening up the "metaverse" that will eventually bring traffic into the giants. The first entrance to the Metaverse is the AR/VR terminal, which is also rapidly upgrading with the support of 5G, cloud computing and other technologies. For example, social giants such as Tencent and Facebook have laid out the development of the metaverse.</p>
                        <p>　　The SSVP team believes that although the development speed of the human information technology industry will continue to break the limit according to the definition of Moore's Law, it is not easy to realize the "metaverse" that is called the "ultimate form of the universe" by the outside world, and there is still a period of industry development. Long way to go. However, we are very optimistic about the future of the metaverse. Now the concept will be implemented in multiple industries, such as games, virtual consumption, online performances, etc. The Metaverse has room to display its talents, and these have been gradually implemented within the achievable range.</p>
                        <p>　　As such, Super star universe profound hopes to create the ultimate virtual reality hub each, focusing users in an immersive and engaging environment - for the first time ever, users can access encrypted information and immersive content in one place, And get access to different levels of blockchain educational resources, virtual business resources, realistic gaming experiences, and anything else imaginable through virtual reality experiences. As a platform, Super star universe profound will provide users with the ability to display, share, trade in the virtual space of the metaverse, and allow users to create secondary creations.</p>
                        <p>　　In order to drive the high-value circulation of Super star universe profound, the Singapore SSVP Ecological Development Foundation will issue SSVP tokens based on the ERC-20 protocol standard to provide a value carrier for the Metaverse and the Internet of Everything, and to drive the realization of virtual and network interconnection. Processes, data and things combine to make network connections more relevant and valuable.</p>
                        <p>　　In the future, after SSVP is launched on major global exchanges, the value and price will increase, and user income will continue to increase. And Super star universe profound will also completely reshape the operating model of the existing Internet, turning the economic incentive system itself into a system that can circulate within the system, creating a completely decentralized Internet value transmission ecosystem, which is also a completely open Community ecosystem, transcending national borders, so that every participant can obtain the corresponding value in the metaverse.</p>


                    </div>

                </div>
            </div>


        </div>


        <!-- Modal -->
        <div class="modal fade" id="participate" tabindex="-1" role="dialog" aria-labelledby="participateTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="color: black">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="participateTitle">{{lang.list[defLang].page.enter_participation}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-md-8" style="margin-top: 8px;">{{lang.list[defLang].page.available_balance}}：<span style="color:#cc3333;">{[this.balance.curr_balance]} {[coinType]}</span></div>
                            <div class="col-md-auto ml-auto text-right">
                                <div @click="onClickAllIn()" class="btn btn-link">{{lang.list[defLang].page.all_in}}</div>
                            </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <!-- <form> -->
                                <div class="form-row">
                                    <div class="col-md-5 mb-5 text-right">
                                        <label for="coin_txt" class="col-form-label text-right">{[coinType]}</label>
                                        <input id="coin_txt" v-model="form.coin_amount" type="number" class="form-control text-right" min="0" maxlength="99">
                                    </div>
                                    <div class="col-md-1 mb-1 text-center">
                                        <label class="col-form-label">=></label>
                                        <label class="col-form-label">≈</label>
                                    </div>
                                    <div class="col">
                                        <label class="col-form-label" for="target_coin">{[platform_currency.symbol]}</label>
                                        <input id="target_coin" :value="(this.exchange/1)*this.form.coin_amount" type="text" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" :value="this.form.coin_type">
                                <!-- </form> -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button @click="onClickEnter()" :disabled="this.loading" type="button" class="btn btn-primary btn-block">{{lang.list[defLang].page.participation}}</button>
                    </div>
                </div>
            </div>
        </div>



    </div>



    {{include './_footer.html'}}


    <script>
        let app = new Vue({
            delimiters: ["{[", "]}"],
            el: '#app',
            data: {
                is_login: '{{isLogin}}',
                loading: false,
                temp_setInterval: null,
                alertObj: JSON.parse('{{lang.list[defLang].page.login.alert}}'.replace(/&#34;/g, '"')),
                coinType: 'usdt_trc20',
                exchange: 0,
                endTime: '0{{lang.list[defLang].page.day}} 0{{lang.list[defLang].page.hour}} 0{{lang.list[defLang].page.minute}} 0{{lang.list[defLang].page.second}}',
                disable: true,
                btn_disable: false,
                platform_currency: {
                    name: '',
                    value: 0,
                    usdt_trc20: 0,
                    usdt_trc20_exchange: 0,
                    usdt_erc20: 0,
                    usdt_erc20_exchange: 0,
                    withdraw_charges: 0,
                    eth_exchange: 0,
                    btc_exchange: 0,
                    start_time: 0,
                    end_time: 0,
                    curr_time: 0,
                },
                balance: {
                    USDT_TRC20: 0,
                    USDT_ERC20: 0,
                    ETH: 0,
                    BTC: 0,
                    curr_balance: 0
                },
                form: {
                    target_amount: 0,
                    coin_price: 0,
                    coin_amount: 0,
                    coin_type: 'usdt_trc20',
                }
            },
            methods: {
                onClickParticipation(type) {
                    if (this.is_login == 'false') {
                        document.location.href = '/login'
                        return
                    }

                    this.coinType = type.replace('-', '_')
                    let key = type.toLocaleLowerCase().replace('-', '_')
                    this.exchange = this.platform_currency[key + '_exchange']
                    console.log('key', key, this.exchange)
                    this.balance.curr_balance = this.balance[this.coinType]

                    this.form.coin_type = this.coinType
                    this.form.coin_amount = 0
                    this.form.coin_price = 0
                    this.form.target_amount = 0

                    $('#participate').modal("show");
                },
                onClickEnter() {
                    this.form.coin_price = this.exchange
                    this.form.target_amount = $('#target_coin').val()
                    this.form.coin_type = this.form.coin_type.toLocaleLowerCase()

                    if (this.form.target_amount <= 0) {
                        return
                    }
                    if (isNaN(this.form.target_amount)) {
                        tip('please try again later!')
                        return
                    }

                    this.loading = true
                    this.post('/api/startup', this.form, (data) => {
                        this.loading = false
                        if (data.flag != 'ok') {
                            tip(data.flag)
                        } else {
                            tip('{{lang.list[defLang].page.participation_successful}}', () => {
                                document.location.reload()
                            })
                        }
                    })
                },
                onClickAllIn() {
                    this.form.coin_type = this.coinType
                    this.form.coin_amount = this.balance.curr_balance
                },
                zero(n) {
                    return n < 10 ? '0' + n : n
                },
                round(num, intLen = 2, dotLaterLen = 6) {
                    let z = '000000000000000000000000000000'
                    let zn = Number(1 + z.substr(0, dotLaterLen))
                    num = Math.round(num * zn) / zn
                    let s = String(num)

                    if (s.indexOf('.') !== -1) {
                        let a = s.split('.')
                        let n1 = a[0], n2 = a[1], zn

                        if (a[0].length < intLen) {
                            n1 = z.substr(0, intLen - a[0].length) + a[0]
                        }

                        if (a[1].length < dotLaterLen) {
                            zn = z.substr(0, dotLaterLen - a[1].length)
                            n2 = String(a[1]) + zn
                        }

                        let res = `${n1}.${n2}`
                        return res
                    }

                    let zl = z.substr(0, dotLaterLen)
                    return Number(`${s}.${zl}`)
                },
                lessen(num, min, len) {
                    let n = num / min
                    return this.round(n, len)
                },
                formatTime(t) {
                    let d = Math.floor(t / (60 * 60 * 24))
                    let h = this.zero(Math.floor((t / (60 * 60)) % 24))
                    let m = this.zero(Math.floor(t / (60) % 60))
                    let s = this.zero(Math.floor(t % 60))
                    return `${d}{{lang.list[defLang].page.day}} ${h}{{lang.list[defLang].page.hour}} ${m}{{lang.list[defLang].page.minute}} ${s}{{lang.list[defLang].page.second}}`
                },
                updateTime() {
                    this.temp_setInterval = setInterval(() => {
                        let currTime = new Date().getTime() / 1000
                        let endTime = new Date(this.platform_currency.end_time.replace(/-/g, '/')).getTime() / 1000
                        let defTime = endTime - currTime
                        $('#entTime').html(this.formatTime(defTime))
                        // console.log(`currTime:${currTime}, entTime:${entTime}, defTime:${defTime}`, typeof this.platform_currency.end_time, this.platform_currency.end_time)
                        if (defTime >= 0) {
                            this.disable = true
                        } else {
                            this.disable = false
                            clearInterval(this.temp_setInterval)
                        }
                    }, 100)
                },

                initWS() {
                    let ws = new WebSocket('{{lang.ws}}/coin/price')
                    ws.onopen = () => {
                        console.log('websocket init ...')
                    };
                    ws.onclose = () => {
                        console.log('websocket close ...')

                        setTimeout(() => {
                            this.initWS()
                        }, 6000)
                    }
                    ws.onmessage = (event) => {
                        const time = 1000
                        let _t = this
                        let res = JSON.parse(event.data)
                        this.platform_currency.usdt_trc20_exchange = this.round(1 / res.platform.price, 1, 6)
                        if (this.platform_currency.usdt_trc20_exchange) {
                            this.btn_disable = true
                        }
                        ws.close()
                        this.getPrice()
                    }
                },

                getPrice() {
                    this.get('/api/coincap-coin-list/caches', {}, (data) => {
                        let a = data.data.value
                        let btc = Number(this.getObjBySymbol(a, 'BTC').priceUsd)
                        let eth = Number(this.getObjBySymbol(a, 'ETH').priceUsd)
                        this.platform_currency.usdt_erc20_exchange = this.round(this.platform_currency.usdt_trc20_exchange, 1, 6)
                        this.platform_currency.eth_exchange = this.round(this.platform_currency.usdt_trc20_exchange * eth, 1, 6)
                        this.platform_currency.btc_exchange = this.round(this.platform_currency.usdt_trc20_exchange * btc, 1, 6)
                    })
                },

                getObjBySymbol(arr, symbol) {
                    for (let i = 0; i < arr.length; i++) {
                        let item = arr[i]
                        if (item.symbol == symbol) {
                            return item
                        }
                    }
                    return null
                },
                post(url, params, callback) {
                    this.loading = true;
                    $.post(url, params, res => {
                        this.loading = false;
                        callback(res);
                    })
                },
                get(url, params, callback) {
                    this.loading = true;
                    $.ajax({
                        'url': url,
                        'type': 'GET',
                        'dataType': 'json',
                        'data': params,
                        'success': res => {
                            this.loading = false;
                            callback(res);
                        },
                        'error': err => {
                            this.loading = false;
                            console.log(err);
                            tip(err.statusText);
                        }
                    })
                },
                init() {
                    this.get('/api/startup', {}, (data) => {
                        if (this.is_login == 'true') {
                            this.balance.USDT_TRC20 = data.data.user['usdt_trc20']
                            this.balance.USDT_ERC20 = data.data.user['usdt_erc20']
                            this.balance.ETH = data.data.user['eth']
                            this.balance.BTC = data.data.user['btc']
                        }

                        this.platform_currency = data.data.currency

                        // this.platform_currency.usdt_trc20_exchange = data.data.currency.usdt_exchange
                        // this.platform_currency.usdt_erc20_exchange = 0
                        // this.platform_currency.eth_exchange = 0
                        // this.platform_currency.btc_exchange = 0

                        this.platform_currency.start_time = moment(this.platform_currency.start_time).format('YYYY-MM-DD HH:mm:ss')
                        this.platform_currency.end_time = moment(this.platform_currency.end_time).format('YYYY-MM-DD HH:mm:ss')
                        this.updateTime()

                        this.initWS()
                    })
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>

</body>

</html>